


  <div class="container d-flex justify-content-end top-0;">
    <div class="texto">
      <p><strong>First Heading</strong> Will Catch Your Eye<br>
      Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis<br>euismod semper.
      Praesent commodo cursus magna, vel scelerisque nisl<br>consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="foto">
        
       <img src="assets/img/1.jpg" class="rounded-circle w-25 h-auto" alt=""/>  
    </div>
  </div>
  
 